<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
<welcome-file-list>
	<welcome-file>/jsp/househome/index.jsp</welcome-file>
</welcome-file-list>
<filter>
	<filter-name>LoginCheckFilter</filter-name>
	<filter-class>com.bdqn.filter.LoginCheckFilter</filter-class>
</filter>
<filter-mapping>
	<filter-name>LoginCheckFilter</filter-name>
	<url-pattern>/jsp/admin/*</url-pattern>
</filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouseAreaServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HouseAreaServlet</servlet-class>
  </servlet>
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouseIndexShowServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HouseIndexShowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouseIndextypeServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HouseIndextypeServlet</servlet-class>
  </servlet>
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouseFinishstateServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HouseFinishstateServlet</servlet-class>
  </servlet>
      <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouseMessageServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HouseMessageServlet</servlet-class>
  </servlet>
      <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouseNewsServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HouseNewsServlet</servlet-class>
  </servlet>
      <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HousePictureServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HousePictureServlet</servlet-class>
  </servlet>
      <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HousePicturetypeServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HousePicturetypeServlet</servlet-class>
  </servlet>
      <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HousePropertyServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HousePropertyServlet</servlet-class>
  </servlet>
      <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouseProvinceServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HouseProvinceServlet</servlet-class>
  </servlet>
      <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouseRefertypeServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HouseRefertypeServlet</servlet-class>
  </servlet>
      <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouseStateServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HouseStateServlet</servlet-class>
  </servlet>
      <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouseTownServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HouseTownServlet</servlet-class>
  </servlet>
      <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouseTypeServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HouseTypeServlet</servlet-class>
  </servlet>
        <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HouseUserServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.HouseUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>news_conServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.news_conServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.indexServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessageConServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.MessageConServlet</servlet-class>
    </servlet>
<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.bdqn.servlet.FileUploadServlet</servlet-class>
  </servlet>




  
  
  
  
  
  
  <servlet-mapping>
    <servlet-name>HouseAreaServlet</servlet-name>
    <url-pattern>/HouseAreaServlet</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>HouseIndexShowServlet</servlet-name>
    <url-pattern>/HouseIndexShowServlet</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>HouseIndextypeServlet</servlet-name>
    <url-pattern>/HouseIndextypeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HouseFinishstateServlet</servlet-name>
    <url-pattern>/HouseFinishstateServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HouseMessageServlet</servlet-name>
    <url-pattern>/HouseMessageServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HouseNewsServlet</servlet-name>
    <url-pattern>/HouseNewsServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HousePictureServlet</servlet-name>
    <url-pattern>/HousePictureServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HousePicturetypeServlet</servlet-name>
    <url-pattern>/HousePicturetypeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HousePropertyServlet</servlet-name>
    <url-pattern>/HousePropertyServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HouseProvinceServlet</servlet-name>
    <url-pattern>/HouseProvinceServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HouseRefertypeServlet</servlet-name>
    <url-pattern>/HouseRefertypeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HouseStateServlet</servlet-name>
    <url-pattern>/HouseStateServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HouseTownServlet</servlet-name>
    <url-pattern>/HouseTownServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HouseTypeServlet</servlet-name>
    <url-pattern>/HouseTypeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>HouseUserServlet</servlet-name>
    <url-pattern>/HouseUserServlet</url-pattern>
  </servlet-mapping>
 
    <servlet-mapping>
    <servlet-name>news_conServlet</servlet-name>
    <url-pattern>/news_conServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageConServlet</servlet-name>
    <url-pattern>/MessageConServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
</web-app>
